:root {
  --red: #f0091d;
}

form {
  background: var(--red);
  padding: 1em;
  color: white;

  display: flex;
  justify-content: center;
}

.results {
  padding: 1em;
}

.sound {
  color: black;
  font-style: normal;
}
